<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= locals.description %>">
    <meta name="author" content="The market Analyst">
    <meta name="keywords" content="<%= locals.keywords %>">
    <meta name="robots" content="<%= locals.robots %>">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/large.css">
    <script type="text/javascript" defer src="/script/script.js"></script>
   <!-- Quill.js CSS -->
   <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        
        <%- include('../partials/header_admin.ejs') %>  

       <main class="admin_main">
        <%- body %>
        </main>

        <%- include('../partials/footer_admin.ejs') %>    
        
    </div>
    
</body>
</html> 